html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: url('../assets/anime_house_interior_by_anasofoz_dcmlrme.png') no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh; 
}

.card-list {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 3rem;
  padding: 1rem; 
}

.card {
  background: white;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.3s;
}

.card img {
  border-radius: 8px;
  max-width: 100%; 
  height: auto; 
}

.card:hover {
  transform: translateY(-10px);
}


@media (max-width: 1200px) {
  .card-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 900px) {
  .card-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  .card-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 400px) {
  .card-list {
    grid-template-columns: 1fr;
    gap: 1rem; 
  }
}
