#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.title {
  color: yellow;
  text-shadow: 2px 2px black;
}

.title:hover {
  text-shadow: 3px 3px radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(204,253,45,0.7379085423231793) 100%);
}

