.howler-container {
    position: relative;
}

.mute-button {
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 32px;
    transition: color 0.3s;
}

.mute-button:hover {
    transform: translateY(-5px); 
}
